mixin card(imgUrl, title, text,secondText, waterMark)
  article.card
    h3.card__title= title
    .card__block
      p.card__watermark= waterMark
      img.card__image(src=imgUrl, alt=title)
    .card__content
      p.card__text= text
      p.card__text= secondText
      .like__container
        .card__icon-button
          img.like-icon.is-liked(src='../images/heart.svg', alt="лайк") 
        button.card__like-button
          p.button__text Like