mixin card(imgUrl, title, text,secondText, waterMark, className)
  li
    article.card
      h2.card__title= title
      .card__block
        span.card__watermark(aria-hidden='true')=waterMark
        img.card__img(class=className src=imgUrl, alt=title,loading='lazy')
      .card__content
        p.card__text= text
        p.card__text= secondText
      .card__like-container
        button.card__icon-button(type='button')
          include ./heart
        button.card__like-button.button
          span.button__text Like